<div class="wrapper">
  <p>Tristesse, a visual novel.</p>
  <br />
  <br />
  <p>A story inspired by the flash game Air Pressure by bentosmile.</p>
  <br />
  <br />
  <p>Many thanks to these people and sites who provided assets and help.</p>
  <p>Ode Imaginations</p>
  <p>Uncle Mugen from Lemma Soft Forums</p>
  <p>ZapSplat.com</p>
  <p>Bensound.com</p>
  <p>The community on Itch.io, Steam, and Discord</p>
  <p>My friends and family who helped with testing</p>
  <p>And thank you for playing!</p>
  <br />
  <br />
  <p>Press SPACE or ENTER to continue.</p>
</div>
